#header
{
    @extend .row;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    img.profile{
        border-radius: 100%;
        border: 5px solid $color-secondary;
        box-shadow: 0 1px 3px $color-shadow;
    }
    h1
    {
        margin-top: 0.3em;
        font-size: 4em;
    }
    h2{
        margin-top: 0em;
        color: $color-secondary;
    }
}
#header a
{
    color: #fff; /* surcharge la règle ligne 18 TODO check num ligne */
}
#header a,
#main-nav a{
    text-decoration: none; /* supprime le soulignement */
}
