block vars
    - className = 'main';
doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        block head_end
            link(rel="stylesheet" href="/css/style.css")
    body(class=className)
        block content
            block header
                include ../_partials/nav
                include ../_partials/header
            block main
                main#main
                    block main_content
            block footer
                include ../_partials/footer
        block body_end
            script(type="text/javascript" src="/js/index.js")
