extends _layouts/main

block main_content
    article
        blockquote
            p 
                i I am a 
                    b web developer 
                    | in Burgundy, France since 2009. Passionate aboute 
                    b UI/UX design
                    | , I love 
                    b CSS 
                    | and 
                    b Javascript
                    | .
