extends _layouts/main

append header
    .row
        blockquote
            p 
                i I am a back &amp; front-end 
                    b web developer 
                    | in Burgundy, France since 2009. Former 
                    b photographer
                    | , passionate about 
                    b UI/UX design
                    | , digging   
                    b CSS 
                    | and 
                    b Javascript
                    | .
block main_content
    article
        h1 &#9888; WIP: do not merge ;)
        p I'm currently building this website. I'll try to keep it simple and up-to-date. It's primary purpose is to serve as an online resume. But I hope I'll be able to write a bit more about what I love about the web in general.
