extends _layouts/main

append header
    .row
        blockquote
            p 
                i I am a back &amp; front-end 
                    b web developer 
                    | in Burgundy, France since 2009. Former 
                    b photographer
                    | , passionate aboute 
                    b UI/UX design
                    | , digging   
                    b CSS 
                    | and 
                    b Javascript
                    | .
block main_content
    article
        h1 Dev stack
        p As I'm always looking for the best tool out there I try to keep up with the fast moving software ecosystem.
        h2 OS
        p Mac OS X
        h2 Text editors
        p I switched to 
            b
                a(href="https://www.sublimetext.com/") Sublime Text
            |  for web (back &amp; front-end) development a while ago and since then I tried to give a chance to 
            a(href="https://atom.io/") Atom
            |  and more recently to 
            a(href="https://code.visualstudio.com/") Visual Studio Code
            | .
        p Atom not having a real edge over Sublime and 
            b not being able to open an 2MB
            |  sql dump without crashing (when I tried it), I ruled it out pretty quickly.
        p When I first fired up VSCode though, I felt good about it. A real IDE, powerful intellisense, easy(ier) NodeJs debugging... And if you're building anything with 
            a(href="https://www.typescriptlang.org/") TypeScript
            |  you will just love it.
        p If it wasn't for the 
            a(href="https://github.com/SublimeGit/SublimeGit") SublimeGit
            |  plugin I guess I would have taken the deep plunge to 
            a(href="https://code.visualstudio.com/") VSCode
            |  but right now I'm still not as efficient with it in a production context.
